$lite:  #FFF;
  $dark: #3b3b3b;
  $light-blue: #ebf4fc;
  $blue: #2196f3;
  $dark-blue: #1253a0;
  $red: #e43737;
  
  .registerCar{
      width: 100%;
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1{
          text-align: center;
          margin: 0 auto;
          padding: 5px 0;
          font: 300 30px 'Oswald', sans-serif;
          text-transform: uppercase;
          letter-spacing: 5px
      }
      
      h2{
        text-align: start;
        margin: 0 auto;
        font: 200 15px 'Oswald', sans-serif;
        text-transform: uppercase;
      }
  
      form{
          width:90%;
          font-family: 'Lato';
          font-weight: 400;
          padding: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          @media screen and (max-width: 569px) {
           width: 90%;
          }
          
  
          .input-container{
              max-width: 760px;
              width: 100%;
              display: flex;
              gap: 10px;
              align-items: center;
              justify-content: space-between;
              flex-wrap: wrap;
              
              .container {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 22px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    &:checked ~ .checkmark {
                        background-color: #2196F3;
                        &:after {
                            display: block;
                          }
                      }
                  }
                  
                  .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: #eee;
                    border-radius: 50%;
                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                      }
                  
                  }
                  
                  &:hover input ~ .checkmark {
                    background-color: #ccc;
                  }
                }

              input{
                width: 100%;
                max-width: 260px;
                height: 30px;
                border: 1px solid $dark;
                letter-spacing: 1px; 
                margin-bottom: 10px;
                padding: 5px 5px;
                outline: none;
                flex: 1;
                @media screen and (max-width: 569px) {
                  width: 280px;
                }
              
            }
          
        }

        textarea{
          width: 100%;
          max-width: 760px;
          min-height: 150px;
          margin-bottom: 10px;
          letter-spacing: 1px;
          padding: 5px 5px;
          outline: none;
          border: 1px solid $dark;
          @media screen and (max-width: 569px) {
            width: 100%;
          }
      }
      
      button{
          width: 120px;
          font-size: 14px;
          font-weight: 600;
          padding: 8px;
          border: 1px solid $dark-blue;
          color: $lite;
          background: $dark-blue;
          cursor: pointer;
          &:hover{
              color: $dark-blue;
              background: $lite;
          }
      }
    }
}
  