
$lite:  #FFF;
$dark: #3b3b3b;
$light-blue: #ebf4fc;
$blue: #2196f3;
$dark-blue: #1253a0;
$red: #e43737;



.sidebar{
    flex: 1;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    
    section{
        width: 100%;
        .links-container{
            width: 100%;
            height: 100%;
            
            .link{
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $blue;
                cursor: pointer;
                margin-bottom: 5px;
                
                &:hover{
                    background: $light-blue;
                    background-color: $blue;
                    color: $light-blue;
                }
                
                span{
                    width: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 5px;
                }

                
            }
            .active{
                background: $dark-blue;
                color: $light-blue;
            }
        }
    }
    
    hr{
        width: 90%;
        height: 1px ;
        border-radius: 50%;
        background: solid $dark-blue;
    }

    .profile{
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        padding: 5px;
        background-color: $blue;
        color: $lite;
        border: none;
        border-radius: 5px;
        box-shadow: $blue 0px 0px 2px 0px;
        cursor: pointer;
        &:hover{
            background-color: $dark-blue;
        }
        .profile-img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .profile-name{
            font-size: 14px;
        }
    }
}