$lite:  #FFF;
$dark: #3b3b3b;
$light-blue: #ebf4fc;
$blue: #2196f3;
$dark-blue: #1253a0;
$red: #e43737;

.slider{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    background: $light-blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    button{
        width: 140px;
        
        padding: 8px;
        border: 1px solid $dark-blue;
        color: $lite;
        background: $dark-blue;
        cursor: pointer;
        &:hover{
            color: $dark-blue;
            background: $lite;
            
        }
    }

    .arrow{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        z-index: 10;

        &:first-of-type{
            left: 10px;
        }

        &:last-of-type{
            right: 10px;
        }

        &:hover{
            background: $lite;
        }
    }
    
    .wrapper{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s ease-out all;
        .slider{
            width: 100vw;
            min-width: 100vw;
            height: 100%;
            display: flex;
            align-items: center;
            .image-container{
                width: 150px;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 70%;
                    height: 60%;
                    object-fit: fill;
                    object-position: center;
                }
            }
            
            .info{
                height: 100%;
                flex: 1;
                padding: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                color: $dark;

                h1{
                    font-size: 40px;
                }
                
                p{
                    margin: 30px 0px;
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 3px;
                }
                
                button{
                    font-size: 20px;
                }
            }
        }
    
    }
}
